* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f6f6e2;
    color: #333;
}

header {
    background-color: #5f3711;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

header nav a:hover {
    text-decoration: underline;
}

.sobre-loja {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
}

.sobre-img img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.sobre-texto {
    max-width: 50%;
    padding: 0 20px;
}

.produtos {
    background-color: #f6f6e2;
    padding: 50px;
    text-align: center;
}

.produto-lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produto-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 22%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.produto-item:hover {
    transform: scale(1.05);
}

.produto-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #5f3711;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #43300d;
}

/* layout Tablet */
@media (max-width: 1023px) {
    .sobre-loja {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sobre-texto {
        max-width: 100%;
    }

    .produto-lista {
        flex-direction: column;
        align-items: center;
    }

    .produto-item {
        width: 80%;
    }
}
/* layout Mobile */
@media (max-width: 640px) {
    header {
        padding: 10px;
    }

    .produto-item {
        width: 100%;
    }
}
